.rsvp-h1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.rsvp-p {
    font-size: large;
    width: 750px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.rsvp-label {
    font-size: x-large;
}

.rsvp-input[type=checkbox] {
    height:20px;
    width:20px;
}

.rsvp-input {
    margin-top: 10px;
    margin-bottom: 15px;
}