.guest-book-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.commentForm {
    & label {
        font-weight: bold;
    }

    & textarea {
        width: 300px;
        height: 150px;
        resize: both;
    }
}

.commentClass {
    border-style: solid;
    border-color: #F4CEDD;
    color: #276B80;
    background-color: #DDECE8;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 30rem;
    font-family: 'Red Hat Display', sans-serif;
}

.commentName {
    font-style: italic;
    text-align: right;
    margin-bottom: 0px;
    font-family: 'Red Hat Display', sans-serif;
}