.homepage-container {
    display: grid;
    justify-items: center;
    gap: 1em;
    margin-top: 1em;

    .homepage-main-heading {
        /* color: rebeccapurple; */
        font-size: 5rem;
        color: var(--primary-color);
        font-family: var(--wedding-font);
        font-weight: 700;
    }

    .homepage-image-container {
        & img {
            width: 100%;
            object-fit: contain;
        }
    }
}

@media (width < 600px) {

    .homepage-container .homepage-main-heading {
        font-size: 3rem;
    }
}

.homepage-card {
    display: grid;
    justify-items: center;
    justify-content: space-around;
    background-color: rgba(213, 235, 218, 0.5);
    padding: 1em;
    gap: 1em;

    .homepage-card-heading {
        font-weight: 800;
        color:rgba(0, 0, 0, 0.8);
    }

    .homepage-card-details {
        display: flex;
        flex-flow: row wrap;;
        align-items: center;
        gap: 1em;

        & > * {
            flex: 1;

            min-width: 300px;
        }

        & p, .homepage-pitch {
            font-size: 1.2rem;
        }

        .homepage-card-image {
            & img {
                width: 100%;
            }
        }
    }
}

.features-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    gap: 1em;

    .features-image {
        position: relative;
        min-width: 300px;
        flex: 1;

        & h1 {
            width: 100%;
            position: absolute;
            text-align: center;
            font-weight: 900;
            top: 100px;
            color: rgba(253, 126, 20, 0.9);
            filter: drop-shadow(0.1em 0.1em white);
            --h1-outline-color: #fff;
            text-shadow: 1px 0 0 var(--h1-outline-color), 0 -1px 0 var(--h1-outline-color),
                0 1px 0 var(--h1-outline-color), -1px 0 0 var(--h1-outline-color);
        }

        & img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}

.homepage-footer {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1em;
}
