.admin-container {
    display: grid;

    .admin-page-title {
        justify-self: center;
        color: var(--h1-color);
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .admin-items {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;

        .admin-item {
            flex: 1;
            min-width: 300px;
            background-color: rgba(0, 0, 0, 0.1);
            padding: 1em;
            text-align: center;
            transition: all 0.3s ease-in-out;
            & a {
                text-decoration: none;
                color: #087990;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
