:root {
   --wedding-font: 'Great Vibes', cursive; 
   --primary-color: rgba(253, 126, 20, 0.9) ;
}

body {
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
